.git
.gitignore
.vscode
__pycache__
*.py[cod]
*.pyd
*.pyo
*.so
*.egg-info
dist
build
.pytest_cache
.mypy_cache
.ruff_cache
.coverage
.coverage.*
.venv
venv
__pypackages__
.env
.env.*
node_modules
.DS_Store
