# Python
__pycache__/
*.py[cod]
*.so
*.egg-info/
dist/
build/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
.coverage.*
htmlcov/
.nox/
.tox/
.hypothesis/

# Environments
.env
.env.*
!.env.example
.venv/
venv/
__pypackages__/
.direnv/

# OS/editor
.DS_Store
Thumbs.db
external-api-docs/*
*test-output.xml
